<% provide(:title, "About ") %>
<h1>Worum gehts hier?</h1>
<p>
  Es geht hier um Eisenbahnfotografie
</p>
<p>
  Diese Website wurde erstellt als beispielhaftes Demo-Projekt für
  <a href="https://www.pictrs.com/"><em>Pictrs GmbH</em></a>,
  über das bei einem Kennenlernen unter Entwicklern diskutiert werden kann.
</p>
