<footer class="footer">
  <small>
    Die <a href="https://www.railstutorial.org/">Bahnbilder-Seite</a>
    von Andreas Raisl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.pictrs.com/">Zu Pictrs</a></li>
    </ul>
  </nav>
</footer>
